.main {
    border-radius: 10px;
    padding: 50px 50px;
    width: 600px;
    height: 420px;
           text-align: center;
    margin: 0 auto;
    
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
     background: rgb(129, 19, 41)
    
}
p{
    
    text-align: center;
    font-size: xx-large;
    
}
p2{
    font-family: cursive;
}
